.contact {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  
  align-items: center;
  flex-direction: column;
}

.get-in-touch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invitation{
  font-weight: bold;
  color: #b69121;
}

.contact-icon{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-media{
  border: solid 2px #b69121;
  border-radius: 7px;
  margin-top: 30px;
  padding: 5px;
}

.social-icon{
  width: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  
  .social-media{
    border: none;
    margin-top: 30px;
    padding: 0;
  }
}


