.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 0 auto;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 3px 3px #a0a0a0;
}

.button_toweb {
  margin-right: 10px;
}

@media only screen and (max-width: 770px) {
  .portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .button_toweb {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 350px;
  }

  .button_toweb {
    margin-bottom: 10px;
  }
}